/* General Styles */

* {    
    margin: auto;
    padding: 0;
}

body {
    background-color: whitesmoke;
    max-width: 1400px;
}

h1{
    font-size: 3em;
  }

h2{
    font-size: 1.2em;
}

h3{
    font-size: 30px;
    padding: 10px;
}

h4{
    font-size: 26px;
    padding: 10px;
}

h5{
    font-size: 20px;
    padding: 10px;
}

/* Nav Bar and Hero image */

.hero-container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
  }
  
  .hero-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .hero-text {
    position: absolute;
    top: 30%; 
    left: 5%; 
    background-color: whitesmoke; 
    color: black; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
    border-radius: 5px;
  }

/* Main Content styles */

.content-box{
    border: 2px solid black;
    width: 1000px;
    max-width: 1400px;
    height: 1220px;
    display: block;
    width: 95%;
    margin-top: 10px;
    display: flex;
}

.column-1 {
    margin: 5px;
    border: 2px solid slategray;
    width: 35%;
    height: 1200px;
    border-radius: 5px;
}

.column-2 {
    margin: 5px;
    border: 2px solid slategray;
    width: 65%;
    height: 1200px;
    border-radius: 5px;
}

/* Add task box */

.add-box {
    border: 2px solid slategray;
    margin: 5px;
    border-radius: 5px;
    width: 95%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 210, 210);
    font-size: 1em;
}

.add-btn {
    border: 2px solid slategray;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 15px;
    background-color: rgb(6, 188, 0);
    color: white;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

.sort-btn {
    border: 2px solid slategray;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 15px;
    background-color: whitesmoke;
    font-weight: 600;
}

/* Task column */

.notes {
    border: 2px solid slategray;
    border-radius: 5px;
    background-color: rgb(146, 146, 146);
    margin-top: 15px;
    width: 95%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}


.task-box-row {
    height: 30%;
    display: flex;
    margin-top: 4px;
}

.task-content{
    height: 30%;
}

.task-box-col {
    margin: 1px;
    width: 50%;
}

.col-1{
    width: 80%;
}

.col-2 {
    width: 20%;
}

.note-btn {
    border: 2px solid slategray;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 15px;
    font-weight: 400;
    background-color: red;
}

.edit-btn {
    background-color: yellow;
}

/* Task Content column */

.top-row {
    border: 1px solid slategray;
    display: flex;
    height: 10%;
}

.task-title {
    border: 1px solid slategray;
    font-size: 30px;
    width: 85%;
    height: 100%;
    padding: 5px;
}

.task-prio {
    border: 1px solid slategray;
    width: 20%;
    font-size: 25px;
    height: 100%;
}

.task-body {
    border: 1px solid slategray;
    font-size: 25px;
    height: 80%;
    width: 98%;
    padding: 10px;
}

.task-timescale {
    border: 1px solid slategray;
    font-size: 25px;
    height: 5%;
}

/* footer */

.footer-container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.footer-container img {
    width: 100%;
    height: auto;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
}

.footer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold; 
    text-align: center;
}

@media (max-width: 1030px) {
    .add-box {
        font-size: 0.8em;
    }
}

@media (max-width: 760px) {
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 18px;
    }
}

@media (max-width: 754px) {
    .add-box {
        font-size: 0.8em;
    }
}

@media (max-width: 759px) {
    .content-box{
        display: flex;
        flex-direction: column;
    }
    .column-1{
        order: 1;
        width:  95%;
        flex: 1;
    }
    .column-2{
        order: 2;
        width:  95%;
    }

    .add-box {
        font-size: 1em;
    }

    .top-row{
        height: 50px;
    }

    .hero-text {
        top: 20%;
    }
}

@media (max-width: 474px) {
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 16px;
    }
    .hero-text {
        top: 10%;
    }
}